@import 'variables.scss';
body {
    font-family: $ptsans;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.305;
    color: $black;
    padding: 40px;
}
.button {
    border: none;
    background: none;
    width: 100px;
}

